@model RentalTracker.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>Rental Tracker</h1>
    <p class="lead">A application to track payments relating to property rentals, and generate reports useful for calculating the tax position of those rentals.</p>
</div>

<h2 class="text-center">Maintenance</h2>
<hr />

<div class="row">
    <a href="~/Accounts/Index">
        <div class="col-sm-2 btn btn-default tile-block">
            <p class="h2"><i class="glyphicon glyphicon-credit-card"></i></p>
            <h4 class="text-center">Accounts</h4>
            <div class="badge">@Model.NumberOfAccounts</div>
            <br /><br />
            <p class="text-muted">NET TOTAL @Html.DisplayFor(model => model.NetTotal)</p>
        </div>
    </a>
    <div class="col-sm-1"></div>
    <a href="~/Categories/Index">
        <div class="col-sm-2 btn btn-default tile-block">
            <p class="h2"><i class="glyphicon glyphicon-tags"></i></p>
            <h4 class="text-center">Categories</h4>
            <div class="badge">@Model.NumberOfCategories</div>
        </div>
    </a>
    <div class="col-sm-1"></div>
    <a href="~/Payees/Index">
        <div class="col-sm-2 btn btn-default tile-block">
            <p class="h2"><i class="glyphicon glyphicon-user"></i></p>
            <h4 class="text-center">Payees</h4>
            <div class="badge">@Model.NumberOfPayess</div>
        </div>
    </a>
    <div class="col-sm-1"></div>
    <a href="~/Transactions/Index">
        <div class="col-sm-2 btn btn-default tile-block">
            <p class="h2"><i class="glyphicon glyphicon-transfer"></i></p>
            <h4 class="text-center">Transactions</h4>
            <div class="badge">@Model.NumberOfTransactions</div>
        </div>
    </a>
    <div class="col-sm-1"></div>
</div>

<h2 class="text-center">Reports</h2>
<hr />

<div class="row">
    <a href="~/TaxReport/Index">
        <div class="col-sm-2 btn btn-default tile-block">
            <p class="h2"><i class="glyphicon glyphicon-gbp"></i></p>
            <h4 class="text-center">Tax Year</h4>
        </div>
    </a>
</div>
