@model RentalTracker.Domain.Payee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

    </dl>
    <hr />
    <table width="300" class="table table-bordered">
        <thead>
            <tr>
                <th>Account</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        @foreach (var item in Model.Transactions)
        {
            <tr>
                <td width="100"> @item.Account.Name</td>
                <td width="100">@item.Amount </td>
                <td width="100">@item.Date </td>
            </tr>

        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
