@model EntityDetailsViewModel<Payee>

@{
    ViewBag.Title = "Payees";
    ViewBag.Category = Model.Entity.DefaultCategory != null ? Model.Entity.DefaultCategory.Type.ToString().ToLower() : "none";
    ViewBag.DateFilter = Model.DateFilter.DateFilter;
    ViewBag.FromDate = Model.DateFilter.FromDate;
    ViewBag.ToDate = Model.DateFilter.ToDate;
    ViewBag.SortOrder = Model.DateFilter.SortOrder;
}

@Html.Partial("_JumboHeader")

<div class="container">
    <div class="col-md-4">
        <div class="card-item card-item-@ViewBag.Category">
            <div class="card-item-body-no-selection">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Entity.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Entity.Name)</p>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Entity.DefaultCategory, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Entity.DefaultCategory.Name)</p>
                        </div>
                    </div>

                    @if (Model.Entity.Memo != null)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.Entity.Memo, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Entity.Memo)</p>
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <a id="edit" class="btn btn-default" href="@Url.Action( "Edit", new { id = Model.Entity.Id } )"><i cla><i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                <div class="col-md-4">
                    <a class="btn btn-default" href="@Url.Action("Index")"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Back to List</a>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-8">
        @Html.Partial("_DateFilter", Model.DateFilter)

        @Html.Partial("_PayeeTransactionsList", Model.Transactions)
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/date-filter")
}




