@model IEnumerable<RentalTracker.Domain.Payee>

@{
    ViewBag.Title = "Payees";
}

<div class="jumbotron">
    <div>
        <a href="~/Home/Index">
            <p class="h1 col-sm-1" style="color:black"><i class="glyphicon glyphicon-circle-arrow-left"></i></p>
        </a>
        <p class="h1">@ViewBag.Title</p>
    </div>
</div>

<div class="container">

    <div class="col-md-4">
        <table id="items-table" class="table table-responsive">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="clickable-row">
                        <td class="hidden">
                            @Html.RouteLink("urlE", new { action = "Edit", id = item.Id }, new { id = "urle", @class = "hidden" })
                        </td>
                        <td class="hidden">
                            @Html.RouteLink("urlD", new { action = "Details", id = item.Id }, new { id = "urld", @class = "hidden" })
                        </td>
                        <td>
                            <div class="card-item @(@item.DefaultCategory != null && item.DefaultCategory.Type == RentalTracker.Domain.CategoryType.Income ? "card-item-income" : "card-item-expenditure")">
                                <div class="card-item-body">
                                    <p class="h4">@Html.DisplayFor(modelItem => item.Name)</p>
                                    <p class="text-right">@Html.DisplayFor(modelItem => item.DefaultCategory.Name)</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="center-block">
            <a class="btn btn-default" href="@Url.Action(  "Create" )"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add</a>
            <a id="edit" class="btn btn-default disabled" href="@Url.Action( "Edit" )"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit</a>
            <a id="details" class="btn btn-default disabled" href="@Url.Action( "Details" )"><i class="glyphicon glyphicon-list"></i>&nbsp;Details</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/items-table.js"></script>
}