@model EntityDetailsViewModel<Category>

@{
    ViewBag.Title = "Categories";
}

<div class="jumbotron">
    <div>
        <a href="~/Home/Index">
            <p class="h1 col-sm-1" style="color:black"><i class="glyphicon glyphicon-circle-arrow-left"></i></p>
        </a>
        <p class="h1">@ViewBag.Title</p>
    </div>
</div>

<div class="container">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Entity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entity.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entity.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.Type)
        </dd>

    </dl>
    <hr />
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Entity.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <hr />

    <p>
        @Html.Partial("_CategoryTransactionsList", Model.Transactions)
    </p>
</div>

