@model EntityDetailsViewModel<Transaction>

@{
    ViewBag.Title = "Transactions";

    var filter = Model.Filter as SearchFilterViewModel;
    ViewBag.DateFilter = filter.DateFilter;
    ViewBag.FromDate = filter.FromDate;
    ViewBag.ToDate = filter.ToDate;
    ViewBag.SortOrder = filter.SortOrder;
}

@Html.Partial("_JumboHeader")

<div class="container">
    <div class="col-md-4">
        @Html.Partial("_SearchFilter", filter)
    </div>

    <div class="col-md-8">
        @Html.Partial("_TransactionsList", Model.Transactions)

        <div class="form-group">
            <div class="center-block">
                <a class="btn btn-default" href="@Url.Action(  "Create" )"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add</a>
                <a id="edit" class="btn btn-default disabled" href="@Url.Action( "Edit" )"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit</a>
                <a id="details" class="btn btn-default disabled hidden" href="@Url.Action( "Details" )"><i class="glyphicon glyphicon-list"></i>&nbsp;Details</a>
                <a id="delete" class="btn btn-default disabled" href="@Url.Action( "Delete" )"><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/date-filter")
    @Scripts.Render("~/bundles/items-table")
}
