@model RentalTracker.Models.Accounts.AccountDetailsViewModel

@{
    ViewBag.Title = "Accounts";
}

<div class="jumbotron">
    <div>
        <a href="~/Home/Index">
            <p class="h1 col-sm-1" style="color:black"><i class="glyphicon glyphicon-circle-arrow-left"></i></p>
        </a>
        <p class="h1">@ViewBag.Title</p>
    </div>
</div>

<div class="container">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.OpeningBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.OpeningBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Balance)
        </dd>

    </dl>
    <hr />

    <p>
        @Html.Partial("_AccountTransactionsList", Model.Transactions)
    </p>

    @*<table class="table table-bordered">
        <thead>
            <tr>
                <th>Date</th>
                <th>
                    Payee
                    <br />
                    Category
                </th>
                <th>Income</th>
                <th>Expenditure</th>
                <th>Balance</th>
                <th>
                    <span><i class="glyphicon glyphicon-check"></i></span>
                </th>
                <th>
                    Reference
                    <br/>
                    Memo
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Transactions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Date)
                    </td>

                    <td>
                        <p>
                            @Html.DisplayFor(model => item.Payee.Name)
                        </p>
                        <p>
                            @Html.DisplayFor(model => item.Category.Name)
                        </p>
                    </td>

                    <td>
                        @Html.DisplayFor(model => item.Amount)
                    </td>

                    <td>
                        @Html.DisplayFor(model => item.Amount)
                    </td>

                    <td>
                        @Html.DisplayNameFor(model => item.Amount)
                    </td>

                    <td>
                        <span><i class="glyphicon glyphicon-ok"></i></span>
                    </td>

                    <td>
                        <p>
                            @Html.DisplayFor(model => item.Reference)
                        </p>
                        <p>
                            @Html.DisplayFor(model => item.Memo)
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Account.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
